@charset "UTF-8";

@font-face {
    font-family: 'idroid' ;
    src: url('idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{

background-color: rgb(160, 240, 160);
margin: 0px;

}

header{

    background-image: linear-gradient(0deg, rgb(2, 44, 2), rgb(160, 240, 160));
    margin: -21px 0px 0px 0px;
}

header > h1{

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}
header > p{
    color: white;
    font-size: 15px;
    text-align: center;
    width: 350px;
    height: 50px;
    margin: auto;
    border-color: transparent;
}
.sombra{

    color: white;
    margin-left: 15px;
    
}
.sombra > p{
    display: inline;
}

.sombra > span{

    margin-right: 25px;
}

.sombra:hover > P{

    box-shadow: 0px 0px 15px black;
}


#historia{
    background-color: white;
    width: 800px;
    margin: 0px auto;
    padding: 5px;
    

}
#historia > h1{

    font-size: 25px;
    font-family: idroid;
    color: darkgreen
}
#historia > h2{

    font-size: 15px;
    font-family: Idroid;
    color: darkgreen;
    background-image: linear-gradient(92deg, rgba(144, 238, 144, 0.562),white);

}
p{
    text-indent: 20px;
    line-height: 20px;

}

.corspan{

    color: green;
}

.marklink{
    color: green;
    text-decoration: none;
    background-color: rgba(144, 238, 144, 0.521);

}

.descricao{

    text-align: center;
}

#bugdroid{

    margin-left: 250px;
}

nav{

    background-color: darkgreen;
    margin: 0px -5px;
    height: 350px;
}

iframe{

    width: 700px;
    height: 315px; 
   margin: 20px 0px 0px 55px;
}

#aprendermais{

    background-color: rgba(144, 238, 144, 0.699);
    border-radius: 5px;
    height: 300px;
}

#aprendermais > h3{
    background-color: rgba(0, 128, 0, 0.637);
    color: white;
    border-radius: 5px 5px 0px 0px;
}

li{
    display: block;
}